{% extends 'third/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <form action="{% url 'restaurant-update' %}" method="post">
        {% csrf_token %} <!--우리가 만든 form에서만 정보를 받게 해줌-->
        <input type="hidden" name="id" value="{{ form.instance.id }}">
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">수정완료</button>
    </form>
</div>
<!--
    <a-sky src="https://c1.staticflickr.com/5/4210/35046006562_6f3dcffd85_o.jpg"></a-sky>
    <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9" shadow></a-box>
    <a-sphere position="0 1.25 -5" radius="1.25" color=#EF2D5E" shadow></a-sphere>
    <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D" shadow></a-cylinder>
    <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" shadow></a-plane>

<a-scene environment="preset:forest">
    <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9" shadow></a-box>
    <a-sphere position="0 1.25 -5" radius="1.25" color=#EF2D5E" shadow></a-sphere>
    <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D" shadow></a-cylinder>
    <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" shadow></a-plane>
</a-scene>
-->
{% endblock %}